<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>타임리프 테스트</title>
</head>
<body>
    <h1>타임 리프 예제</h1>
    <!-- Controller 에서 addAttribute 로 model 에 추가한 welcome 변수 받아옴 -->
    <p th:text="${welcome}"></p>
    <!-- temporals.format() 메서드로 YYYY-MM-DD 에서 YYYY 년 MM월 DD 일로 변경 -->
    <p th:text="${#temporals.format(today)}"></p>

    <!-- 객체를 받아옴 -->
    <div th:object="${person}">
        <!-- object 의 객체를 받아올 때는 *{} 사용 -->
        <!-- 문자열 결합 시 | 사용 -->
        <p th:text="| 이름 : *{name} |"></p>
        <p th:text="| 이름 : ${person.name} |"></p>
        <p th:text="| 나이 : *{age} |"></p>
        <p>취미</p>

        <!-- ~반복 변수~: ~리스트~ -->
        <ul th:each="hobby: *{hobbies}">
            <li th:text="${hobby}"></li>
        </ul>
    </div>
</body>
</html>